<html>

<body>

    <div class="formularios">

        <form action="#">
            
            <div class="font-bold mt-3 mb-7">
                <h3>Conductores</h3>
            </div>

            <div class="gridPrincipal">
                
                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Identificación del conductor</label>    
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <input type="number" id="idConduc" class=borderInput placeholder="1.059.814.620" />    
                </div>
                
                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Nombre del conductor</label>    
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <input type="text" id="nomConduc" class=borderInput placeholder="Roberto Rodríguez Díaz" />    
                </div>

                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Teléfono</label>    
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <input type="number" id="telef" class=borderInput placeholder="87612346" />    
                </div>

                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Empresa para la cual trabaja</label>    
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <select class="borderInput" id="tipoV">    
                        <option></option>
                    </select>    
                </div>

                <div class="gridButton pb-1">
                    <button type="submit" class="agree">Aceptar</button>
                </div>
                <div class="gridButton pb-1">
                    <button type="submit" class="cancel">Cancelar</button>
                </div>
            </div>
            
        </form>
    </div>

</body>

</html>