<html>

<body>

    <div class="formularios">

        <form action="#">
            
            <div class="font-bold mt-3 mb-7">
                <h3>Destinos ofrecidos por la terminal</h3>
            </div>

            <div class="gridPrincipal">

                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Ciudad y terminal destino</label>
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <input type="text" id="destinoT" class=borderInput placeholder="Medellín - Terminal del sur" />                
                </div>
                
                <div class="gridButton pb-1">
                    <button type="submit" class="agree">Aceptar</button>
                </div>
                <div class="gridButton pb-1">
                    <button type="submit" class="cancel">Cancelar</button>
                </div>
            </div>
            
        </form>
    </div>

</body>

</html>