<html>

<body>

    <div class="formularios">

        <form action="#">
            
            <div class="font-bold mt-3 mb-7">
                <h3>Destinos ofrecidos por las empresas</h3>
            </div>

            <div class="gridPrincipal">

                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Terminal o ciudad destino</label>
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <select class="borderInput" id="destinosT">
                    </select>               
                </div>
                
                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Nombre de la empresa</label>    
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <select class="borderInput" id="nombreE">    
                        <option></option>
                    </select>    
                </div>
                
                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Hora de salida</label>    
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <input type="time" id="horas" class=borderInput />    
                </div>
                
                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Tipo de servicio</label>    
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <select class="borderInput" id="tipoServ">    
                        <option></option>
                    </select>    
                </div>

                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Costo del destino</label>    
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <input type="number" id="costoD" class=borderInput />    
                </div>

                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Desea viaje directo o viaje con escalas</label>    
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <select class="borderInput" id="tipoV">    
                        <option></option>
                    </select>    
                </div>

                <div class="gridButton pb-1">
                    <button type="submit" class="agree">Aceptar</button>
                </div>
                <div class="gridButton pb-1">
                    <button type="submit" class="cancel">Cancelar</button>
                </div>
            </div>
            
        </form>
    </div>

</body>

</html>