<html>

<body>

    <div class="formularios">

        <form action="#">
            
            <div class="font-bold mt-3 mb-7">
                <h3>Empresas transportadoras</h3>
            </div>

            <div class="gridPrincipal">

                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Nombre de la empresa</label>
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <input type="text" id="nombre-empresa" class=borderInput placeholder="Expreso Bolivariano" />                
                </div>
                
                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Nit de la empresa</label>    
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <input type="number" id="nit-empresa" class="borderInput" placeholder="860.005.108-1" />        
                </div>
                
                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Correo</label>    
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <input type="email" id="email-empresa" class=borderInput placeholder="contactenos@bolivariano.com.co" />    
                </div>
                
                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Teléfono</label>    
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <input type="number" id="tel-empresa" class=borderInput placeholder="4249090" />    
                </div>
                <div class="gridButton pb-1">
                    <button type="submit" class="agree">Aceptar</button>
                </div>
                <div class="gridButton pb-1">
                    <button type="submit" class="cancel">Cancelar</button>
                </div>
            </div>
            
        </form>
    </div>

</body>

</html>