<html>

<body>

    <div class="bg-mi-form rounded my-3 mx-5 sm:ml-0 xl:ml-5 py-2 xl:w-[800px] sm:w-full w-[400px] lg:w-[670px] md:w-[395px] px-12 lg:px-28 shadow-md">

        <form action="#">
            
            <div class="font-bold mt-3 mb-7">
                <h3>Acceder</h3>
            </div>

                <div class="pb-3">
                    <label class="font-semibold">Iniciar sesión</label>
                </div>


                <span class="flex bg-gray-300 items-center px-3">
                    <i class="material-icons text-gray-400">person</i>
                    <input class="bg-gray-300 p-1 w-full" type="text" placeholder="Usuario">
                  </span>
          
                    <span class="flex bg-gray-300 items-center mt-2 px-3">
                    <i class="material-icons text-gray-400">lock</i>
                    <input class="bg-gray-300 p-1 w-full" type="text" placeholder="Contraseña">
                  </span>

                  <div class="flex justify-between items-center mt-4 mb-2">
                    <button class="bg-mi px-2 py-1 text-mi-letraCancel text-base">Iniciar Sesión</button>
                    <a href="#" class="text-sm underline-none text-mi hover:text-blue-500">¿Olvidó su contraseña?</a>
                  </div>

                <!-- <div class="pb-2 ">
                    <input type="text" id="destinoT" class=borderInput placeholder="Usuario" />                
                </div>
                <div class="pb-4">
                    <input type="text" id="destinoT" class=borderInput placeholder="Contraseña" />                
                </div> -->
                
                <!-- <div class="bg-mi border-0 text-mi-letraCancel float-left mb-4">
                    <button type="submit" class="agree">Iniciar Sesión</button>
                </div> -->
            
        </form>
    </div>

</body>

</html>