<html>

<body>

    <div class="formularios">

        <form action="#">
            
            <div class="font-bold mt-3 mb-7">
                <h3>Programación de salidas de vehículos</h3>
            </div>

            <div class="gridPrincipal">

                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Fecha y hora</label>
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <input type="datetime-local" id="date" class=borderInput />    
                </div>
                
                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Vehículo</label>    
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <select class="borderInput" id="vehiculoEmp">    
                        <option></option>
                    </select>    
                </div>
                
                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Conductor asignado</label>    
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <select class="borderInput" id="conductorAsig">    
                        <option></option>
                    </select>    
                </div>

                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Destino</label>    
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <select class="borderInput" id="destinoTerm">    
                        <option></option>
                    </select>    
                </div>

                <div class="gridButton pb-1">
                    <button type="submit" class="agree">Aceptar</button>
                </div>
                <div class="gridButton pb-1">
                    <button type="submit" class="cancel">Cancelar</button>
                </div>
            </div>
            
        </form>
    </div>

</body>

</html>