<html>

<body>

    <div class="formularios">

        <form action="#">
            
            <div class="font-bold mt-3 mb-7">
                <h3>Vehículos</h3>
            </div>

            <div class="gridPrincipal">
                
                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Placa del vehículo</label>    
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <input type="text" id="placaV" class=borderInput placeholder="NAU 802" />    
                </div>
                
                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Identificador interno</label>    
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <input type="text" id="idInter" class=borderInput placeholder="129864" />    
                </div>

                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Empresa a la que está afiliado el vehículo</label>    
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <select class="borderInput" id="afiliadoV">    
                        <option></option>
                    </select>    
                </div>
                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Modelo de vehículo</label>    
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <select class="borderInput" id="modeloV">    
                        <option></option>
                    </select>    
                </div>

                <div class="gridButton pb-1">
                    <button type="submit" class="agree">Aceptar</button>
                </div>
                <div class="gridButton pb-1">
                    <button type="submit" class="cancel">Cancelar</button>
                </div>
            </div>
            
        </form>
    </div>

</body>

</html>