<html>

<body>

    <div class="formularios">

        <form action="#">
            
            <div class="font-bold mt-3 mb-7">
                <h3>Venta de tiquetes</h3>
            </div>

            <div class="gridPrincipal">
                
                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Lugar al que viaja</label>    
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <select class="borderInput" id="lugarVOffline">    
                        <option></option>
                    </select>    
                </div>

                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Fecha y hora en la que desea viajar</label>    
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <select class="borderInput" id="dateOffline">    
                        <option></option>
                    </select>    
                </div>
                <div class="gridSecundario pb-1 lg:pb-0">
                    <label class="font-semibold">Datos del pasajero</label>    
                </div>
                <div class="gridSecundario pb-4 lg:pb-0">
                    <select class="borderInput" id="pasajero">    
                        <option></option>
                    </select>    
                </div>

                <div class="gridButton pb-1">
                    <button type="submit" class="agree">Aceptar</button>
                </div>
                <div class="gridButton pb-1">
                    <button type="submit" class="cancel">Cancelar</button>
                </div>
            </div>
            
        </form>
    </div>

</body>

</html>